body{
  font-family: 'Mukta', sans-serif;
}

a{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: inherit
}



button{
  background-color: rgb(71, 71, 233);
  color: white;
  display: inline-block;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px;
  margin:2px;
  border: none
}

li{
  list-style-type: none;
}

#login-form, #register-form {
  box-sizing: border-box;
  background-color: rgb(168, 199, 226);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* .input-field{
 
} */

input[type=text], select{
  display: block;
  padding: 5px 5px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#password{
  display: block;
}


.filter-form{
  padding: 5px;
}

.top-nav{
  display: flex;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  top:0px;
 
}

.sign_out{
  margin-left: auto;
}


.top-nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home_page_container{
  display:flex;
  
}

.sidenav {
    height: 85%;
    width: 25%;
    background-color: #9188a8;     
  }

.home_page_list{
  width: 75%;
  display: flex;
  flex-direction: column;
}

.list-apt{
  display:flex;
  justify-content: space-around;
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  width:95%;
  height: 50px;

}

.detail-container{
  display:flex;
  height:85%
}
.details{
  position:fixed;
}
.image-container{
  display:flex;
  flex-direction: column;
  padding-left: 50%;
}  

.image{
  margin: 5px;
  padding: 5px;
}



.map-container{
  display:flex;
}

.map{
    height:400px;
    width:75%;
}
