{% extends 'index.html'  %}

{% block content %}

<h1 style="text-align:center">Login</h1>


<form id="login-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p class="input-field">
      {{ field.label }}
      {{ field(class_="form-control") }}

      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </p>
    {% endfor %}
    <button class="input-field" type="submit">Login</button>
</form>

{% endblock %}