{% extends 'index.html'%}
{%block title%}<title>{{apartment.street}} Detail</title>{% endblock %}
{%block content%}
    <container class="detail-container">
       <div class="details">
        <h1>{{apartment.street}} apt# {{apartment.apartment_number}}</h1>
        <h1>${{apartment.price}}</h1>
        <h2>{{apartment.neighborhood}} {{apartment.city}}</h2>
        <p>Management: {{apartment.management_company.company_name}}</p>
        <p>Bedrooms: {{apartment.beds}} | Bathrooms: {{apartment.baths}} </p>
        <p>Outdoor Space: {{apartment.backyard}} | Balcony: {{apartment.balcony}} | Rooftop access: {{apartment.rooftop_access}} </p>
        <p>Access: {{apartment.access}}</p>
        <p>Notes: {{apartment.notes}}</p>
        <button><a class="button" href="/upload_photo/{{user_apartment_id.id}}">Upload Photos</a></button>
        </div>
    <br>
        <container class="image-container">
        {% for file in files %}
         <img class="image" src="{{ url_for('get_upload', filename=file) }}", style="height: 400px; width: 400px;">
        {% endfor %}
        </container>
    </container>

{% endblock %}