{% extends 'index.html'%}
{%block title%}<title>{{apartment.street}} Detail</title>{% endblock %}
{%block content%}
<container>
    <h2>{{apartment.street}}</h2>
    <h3>Management:</h3><p>{{apartment.management_company.company_name}}</p>
    <h3>Address:</h3><p>{{apartment.street}} apt# {{apartment.apartment_number}} {{apartment.city}}</p>
    <h3>Bedrooms:</h3><p>{{apartment.beds}}</p>
    <h3>Bathrooms:</h3><p>{{apartment.baths}}</p>
    <h3>Price:</h3><p>{{apartment.price}}</p>
    <h3>Outdoor Space:</h3><p>{{apartment.backyard}}</p>
    <h3>Balcony:</h3><p>{{apartment.balcony}}</p>
    <h3>Rooftop access</h3><p>{{apartment.rooftop_access}}</p>
    <h3>Neighborhood:</h3><p>{{apartment.neighborhood}}</p>
    <h3>Access:</h3><p>{{apartment.access}}</p>
    <h3>Notes:</h3><p>{{apartment.notes}}</p>

</container>
{% endblock %}